//Homepage
$homepage-primary-color: rgba(255, 255, 255, 0.4);
$primary-color: #1f446b;
$primary-color-lighter: #2a597a;
$secondary-color : #336a89;
$secondary-color-lighter: #407e96; 


//BasketBall Score Page
$board-background: #1b244a;
$score-count: #F94F6D;
$pointAdder-text-color: #9AABD8;
$pointAdder-border-color: #9AABD8;